/**  colors and theme css  **/
	/* base */
		h1 {
			color: #2a2a2a; /* standard: 2a2a2a */
		}
		body, input {
			background-color: #fafafa; /* standard: 3f3f3f */
			color: #3f3f3f; /* standard: 3f3f3f */
		}
		header {
			background-color: #acacac; /* standard: acacac */
		}
		nav span {
			color: blue; /* standard: blue */
			text-decoration: none; /* standard: underline */
		}
		button {
			border: 1px solid #9a9a9a; /* standard: 1px solid #9a9a9a */
			color: #2a2a2a; /* standard: 2a2a2a */
			background-color: #efefef; /* standard: efefef */
		}
	.selected {
		font-weight: bolder;
		text-decoration: underline;
	}
	/* inventory mode */
		#inventory tr {
			border-bottom: 1px solid #bcbcbc; /* standard: bcbcbc */
		}

	/* market mode */
		.purchasePanel {
			background-color: #f9f9f9; /* standard: f9f9f9f */
			border: 1px solid #2a2a2a; /* standard: 1px solid #2a2a2a */
		}
	/* overlay */
		.overlay .confirm, .overlay .alert {
			background-color: #ddd; /* standard: ddd */
			border: 2px solid #666; /* standard: 666 */
		}



/**  base  **/
html, body {
	height: 100%;
	overflow: scroll;
}
* {
	text-align: center;
}

header {
	text-align: left;
}
h1 {
	display: inline-block;
	font-size: 1.2em;
	margin-top: .4em;
	margin-left: 10%;
}
nav {
	padding-top: .6em;
	float: right;
	text-align: right;
}
nav span {
	padding: .1em 2em;
	cursor: pointer;
}
button {
	margin: .1em;
}
#mode {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}


/**  inventory mode  **/

#inventory table {
	margin: 1em auto;
}
#inventoryList {
	width: 100%;
}
#inventory th, #inventory td[class*='display_'] {
	padding: .1em 2em;
}

.editLi, .updateLi, .deleteLi {
	text-decoration: underline;
	cursor: pointer;
}
.editLi, .updateLi {
	color: blue;
}
.deleteLi {
	color: red;
}

[class*='edit_'] {
	display: none;
}

.inventoryBtns {
	padding: 1em;
}

/**  market mode  **/
#mode #market {
	display: none;
}
#marketPanel {
	width: 90%;
	max-width: 700px;
	margin: 2em auto;
}
#marketPanel button div {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}
#marketPanel .purchaseBtn {
	padding: .5em;
	margin: .5em; 
}
#marketPanel .purchaseBtn .name {
	font-weight: bold;
}
.purchasePanel {
	display: none;
	padding: 1em;
}
.purchasePanel .purchase {
	text-align: right;
}
.purchasePanel .cancelPurchase {
	float: right;
	color: red;
	cursor: pointer;
}
.purchasePanel .purchase:hover {
	cursor: pointer;
	color: red;
}
.purchasePanel .purchase span {
	color: inherit;
}

/**  report mode  **/

#mode #report {
	display: none;
}
.reportList {
	display: inline-block;
	margin: 0 auto;
}
#report ul {
	list-style-type: none;
}
#report li{
	text-align: left;
}
#report ul li {
	padding: .1em;
}

/**  options mode  **/

#mode #options {
	display: none;
}
#options fieldset {
	border: none;
}

/**  overlay **/

.overlay {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,.6);
}
.overlay .confirm, .overlay .alert  {
	display: inline-block;
	margin-top: 15%;
	padding: 1em 2em 2em;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-o-border-radius: 1em;
}
.overlay .confirm button, .overlay .alert button {
	margin: 0 .3em;
}




